.form-group {
  margin-bottom: 15px; 
  font-family: Arial, Helvetica, sans-serif;
}

.form-group label {
  display: block; 
  margin-bottom: 5px;
  font-weight: bold; 
  color: #333; 
  
}

.form-input {
  width: 20%; 
  padding: 8px 10px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 16px; 
}

.form-input:focus {
  border-color: #007bff; 
  outline: none; 
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.Btn {
  display: inline-block; 
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer; 
  border: 1px solid #007bff; 
  background-color: #007bff; 
  color: #ffffff;
  border-radius: 5px; 
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease; 
}


.message-success {
  color:rgb(42, 170, 13);
  font-size: 1rem;
}
.message-failure {
  color:rgb(255, 38, 0);
  font-size: 1rem;
}

